@import './vars.scss';
@import './intro.scss';
@import './projects.scss';
@import './project.scss';
@import './contact.scss';
@import './contact-form.scss';
@import './footer.scss';
@import './philosophy.scss';
@import './impressum.scss';
@import './daten.scss';

body {
    margin: 0;
    font-family: "Noto Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}